@use "../styles/utils" as *;

.container {
  display: flex;
  justify-content: stretch;
  max-width: $max-width;
  margin: auto;
  padding: $gutter 0 0;
  @include md-up {
    padding: $gutter;
  }
}

.column {
  padding: $gutter;
  flex: 1 1 100%;
  max-width: 100%;
}
