@use "../../styles/utils/index.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.list {
  border: 1px solid $gray-medium;
  background-color: $white;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 40rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.question {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.info-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
