@use '../../../styles/utils/index.scss' as *;

.container{
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}

.title {
  margin: 0 0 rem(16);
}

.subTitle {
  margin: 0 0 rem(40);
}